@charset "UTF-8";

body {
	margin: 0;
	background: #fff;
}

#header {
	margin-top : 150px;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	text-align: center;
	font-size: 45px;
    font-weight: 700; 
	display: inline-block;
	background-color: #EDA884;
	font-family: 'Noto Sans KR', sans-serif;
}

.title {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.fontcolor {
	color: white;
}

.content {
	color: grey;
}

.vButton{
	margin-top:5px;
	margin-bottom:5px;
}

.left{
	position:absolute; left:50%; 
	margin: 10px 10;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid #EDA884;
}
.right{
	position:absolute; left:50%; 
	margin: 10px 10;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #EDA884;
}

.bottonS {
	margin: 20px 0;
	width: 305px;
	height: 50px;
	border:3px solid rgba(255,255,255,1);
	border-radius: 40px;	
	outline:none;
	background-color: #EDA884;
	color: white;
	font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bottonX {
	margin-left: 5px;
	width: 80px;
	height: 40px;
	border:3px solid rgba(255,255,255,1);
	border-radius: 10px;	
	outline:none;
	background-color: #EDA884;
	color: white;
	font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bottonS:hover, .bottonX:hover {
  border-color: #EDA884;
  color: #EDA884;
  background-color: #fff;
}

.hidden {
	margin-left: 5px;
	width: 100px;
	border:3px solid rgba(255,255,255,1);
	border-radius: 10px;	
	outline:none;
	background-color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1px 6px;
}

#menu {
	width: 100%;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	display: inline-block;
	width: 600px;
}

.textbox{
	width: 300px;
	height: 30px;
	border:1px solid grey; border-radius:0.5rem;	outline:none;
	margin: 5px 0;
	font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300; 
}

#headerBox{
	width: 100%; height: 100vh;
	text-align: center;
}
